.problem-popup {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-spacing: 5;
    -fx-fill-width: true;
}

.problem-popup-label {
    -fx-wrap-text: true;
}

.problem-popup-label-error {
    -fx-text-fill: firebrick;
}

.problem-popup-label-warn, .problem-popup-label-warning {
    -fx-text-fill: darkorange;
}

.problem-popup-label-info {
    -fx-text-fill: cornflowerblue;
}

.header {
    -fx-font-size: 120%;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}

.styled-text-area .text.sequent-highlight {
    -fx-background-color: yellowgreen !important;
}

.styled-text-area .sequent-highlight {
    -fx-font-weight: bold;
    -fx-background-insets: 1px;
    -fx-background-position: center;
    -fx-fill: firebrick;
    -fx-border-color: black;
    -fx-background-color: lightskyblue !important;
}

.section-pane .title {
    -fx-font-weight: bold;
    -fx-font-size: 14pt;
}

.section-pane .header-box {
    -fx-padding: 5px;
}

.section-pane .header-buttons .button {
}

.section-pane .header-buttons .button {
}