.FOREACH, .CASES, .CASE, .THEONLY, .SCRIPT, .USING,
.REPEAT {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}

.MATCH, .PLUS, .MINUS {
    -fx-font-weight: bold;
    -fx-fill: darkred;
}

.INDENT, .DEDENT, .COLON, .ASSIGN {
    -fx-font-weight: bold;
    -fx-fill: blueviolet;
}

.script-area {
    -fx-font-size: 14pt;
    -fx-font-family: "Fira Code Medium";
}

.INTEGER_LITERAL {
    -fx-fill: blue;
}

.TERM_LITERAL {
    -fx-fill: green;
    -fx-font-smoothing-type: lcd;
}

.STRING_LITERAL {
    -fx-fill: olivedrab;
}

.SINGLE_LINE_COMMENT, .MULTI_LINE_COMMENT {
    -fx-fill: dimgrey;
    -fx-font-family: "Fira Code Light";
}

.IDENTIFIER {
    -fx-fill: darkslateblue;
    -fx-font-weight: bold;
}

.problem {
    -fx-fill: firebrick !important;
    -fx-underline: true;
}
